@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    font-optical-sizing: auto;
}

/* Shared styles */
.display-flex {
    display: flex;
}


.btn {
    background-color: rgba(255, 144, 14, 1);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.2rem;
    padding: 21px 25px;
    font-weight: 600;
    cursor: pointer;
}

/* Header styles */

header {
    background-color: rgba(255, 144, 14, 0.1);
    /* width:1536px;
    margin: 0px auto;
    height: 748px; */
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    gap: 40px;
}

.nav-list {
    list-style: none;
}

nav>h3 {
    font-size: 2.2rem;
    font-weight: 700;
}

.nav-a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 26px;
    color: rgba(66, 66, 66, 1);
      position: relative;
  padding: 10px 20px;
}

.nav-a::after {
    content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: black;
  transition: 0.3s;
}

.nav-a:hover::after {
    width: 100%;
    background-color: rgba(255, 144, 14, 1);
}

.navbar {
    max-width: 1440px;
    margin: 0px auto;
    padding: 30px 0px;
    margin-bottom: 50px;
}

.banner-content {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
}

.banner-title {
    font-size: 3.8rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 75px;
}

.banner-subtitle {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 26px;
    color: rgba(102, 102, 102, 1);
    margin-bottom: 32px;
}

.banner-img {
    max-width: 1440px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

.banner-img img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 45px;
}

/* Responsive Section */

@media screen and (max-width: 660px) {
    .banner-title {
        font-size: 2.5rem;
        line-height: 45px;
    }

    .navbar {
        flex-direction: column;
        gap: 20px;
    }

    .nav-links {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        align-items: center;
    }
}